JENKINS_HOME=/var/lib/jenkins
JENKINS_WEBROOT=%C/jenkins/war
JAVA_OPTS=-Djava.awt.headless=true -Djenkins.install.runSetupWizard=false 
JENKINS_PORT=8080
{% if jenkins_configuration_as_code['install'] %}
CASC_JENKINS_CONFIG={{ jenkins_configuration_as_code['local_path'] }}
{% endif %}
