JENKINS_HOME={{ jenkins_home }}
JENKINS_WEBROOT=%C/jenkins/war
JAVA_OPTS={{ jenkins_java_options }}
JENKINS_PORT={{ jenkins_port }}
{% if jenkins_casc_install %}
CASC_JENKINS_CONFIG={{ jenkins_casc_version_local_path }}
{% endif %}
JENKINS_LOG={{ jenkins_log_file }}
